*.egg*
*.pyc
.coverage
.tox
.cache/
tmp/
*.spec
dist/
*.idea
*.iml
vnfsdk-pkgtools*
build/
target/
*.tar.gz
am-pkg-mgr-venv/
eric-am-package-manager*
eric-oss-app-package-tool*

#acceptance test files
*.csar
tests/robot/*.html
tests/robot/*.xml
tests/robot/reports/*
tests/robot/output*
output/*
*.tar
*.bob
.project_*
output.xml
report.html
log.html
settings.xml
artifact.properties
*.timestamp
signature.csm
shapshot_version.txt
source/*